<% include ./partials/header %>
<script type="text/javascript">
  var a = <%- JSON.stringify(data) %>;
  cosole.log("Parameter passed from class")

  console.log(a);
</script>
<div class="container">

  <h1>
    <%= text %>

  </h1>


</div>


<% include ./partials/footer %>